<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Abbreviation</Data></Cell>
        <Cell><Data ss:Type="String">Full Word</Data></Cell>
        <Cell><Data ss:Type="String">Definition</Data></Cell>
      </Row>
    <% @words.each do |word| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= word.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= word.abbreviation %></Data></Cell>
        <Cell><Data ss:Type="String"><%= word.full_word %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= word.definition %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>