<div class = "container-fluid container-margin">
	<div class = "row">
		<div class = "col-md-3">
			<div class = "row center-text">
				<h4><strong>Abbreviation</strong></h4>
			</div>
		</div>
		<div class="col-md-3">
			<div class = "row center-text">
				<h4><strong>Full Word</strong></h4>
			</div>
		</div>
		<div class="col-md-6">
			<div class = "row center-text">
				<h4><strong>Definition</strong></h4>
			</div>
		</div>
	</div>
	<%= render @words %>
</div>